<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.gbe</string>
	<key>CFBundleName</key>
	<string>Gbe</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Gbe</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gbe.gbe</string>
		<key>TISIntendedLanguage</key>
		<string>en-Beng-US</string>
	</dict>
</dict>
</plist>
